<%= form_with(model: video, local: true, html: { multipart: true }) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= form.file_field :file, id: :video_file %>
  </div>

  <div class="field">
    <%= form.radio_button :title, 'tile' %> tile
    <%= form.radio_button :title, 'reverse' %> reverse
    <%= form.radio_button :title, 'pseudocolor' %> pseudocolor
    <%= form.radio_button :title, 'lagfun' %> lagfun
    <%= form.radio_button :title, 'jetcolor' %> jetcolor
    <%= form.radio_button :title, 'bitplaneslices' %> bitplaneslices
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
